blinker==1.8.2
certifi==2024.8.30
cffi==1.17.1
click==8.1.7
colorama==0.4.6
commonX==0.6.33
cryptography==43.0.3
curl_cffi==0.7.3
Deprecated==1.2.14
Flask==3.0.3
img2pdf==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.4
jmcomic==2.5.22
lxml==5.3.0
MarkupSafe==3.0.2
packaging==24.1
pikepdf==9.3.0
pillow==11.0.0
plugin_jm_server==0.1.23
psutil==6.1.0
pycparser==2.22
pycryptodome==3.21.0
PyYAML==6.0.2
typing_extensions==4.12.2
Werkzeug==3.0.5
wrapt==1.16.0
